<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
    {% include 'partials/header.twig' %}
    {% block main_content %}
    {% endblock %}
    {% include 'partials/footer.twig' %}
</body>
</html>

