<div id="galaxy-fields" class="entity-fields">
  <label for="galaxy-name">Name:</label>
  <input type="text" id="galaxy-name" name="name">

  <label for="galaxy-size">Size:</label>
  <input type="text" id="galaxy-size" name="size">

  <label for="galaxy-description">Description:</label>
  <textarea id="galaxy-description" name="description"></textarea>

  <label for="galaxy-planet">Connected Planets:</label>
  <input type="text" id="galaxy-planet" name="connected_planets">

  <label for="galaxy-star">Connected Stars:</label>
  <input type="text" id="galaxy-star" name="connected_stars">
</div>
