<div id="planet-fields" class="entity-fields">
  <label for="planet-name">Name:</label>
  <input type="text" id="planet-name" name="name">

  <label for="planet-size">Size:</label>
  <input type="text" id="planet-size" name="size">

  <label for="planet-description">Description:</label>
  <textarea id="planet-description" name="description"></textarea>

  <label for="planet-star">Connected Star:</label>
  <input type="text" id="planet-star" name="planet-star">
</div>

