<div id="star-fields" class="entity-fields">
  <label for="star-name">Name:</label>
  <input type="text" id="star-name" name="name">

  <label for="star-size">Size:</label>
  <input type="text" id="star-size" name="size">

  <label for="star-description">Description:</label>
  <textarea id="star-description" name="description"></textarea>

  <label for="star-planet">Connected Planet:</label>
  <input type="text" id="star-planet" name="connected_planet">

  <label for="star-galaxy">Connected Galaxy:</label>
  <input type="text" id="star-galaxy" name="connected_galaxy">
</div>
